{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles{% endblock %}

{% block content %}
<main role="main">
  <h1 class="d-flex justify-content-center mt-2">Perfil</h1>
  <div class="container mb-4">
      <div class="row mt-4">
        <div class="col-md-9 mx-auto mb-5">
          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
              <!-- Previa del avatar -->
              <div class="col-md-2">
                <h3 class="d-flex justify-content-center">{{profile.user.username}}</h3>
                
                <div class="d-flex align-items-center">
                  
                {% if profile.avatar %}
                  <img src="{{profile.avatar.url}}" class="img-fluid">
                {% else %}
                  <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
                {% endif %}
                </div>
              </div>
              <div class="col-md-10">
                
                
                {% if profile.bio %}
                  <b>Biografía: </b><p>{{profile.bio}}</p>
                {% else %}
                  <b>Biografía: </b><p>No tiene biografía.</p>
                {% endif %}
                
                {% if profile.link %}
                  <b>Sitio Web: </b><p><a href="{{profile.link}}">{{profile.link}}</a></p>
                {% else %}
                  <b>Sitio Web: </b><p>No tiene sitio web.</p>
                {% endif %}
              </div>
              
            </div>
          </form>
        </div>
    </div>
  </main>
{% endblock content %}